
@{
    Layout = null;
}

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
   
    <img src="~/images/logo.png" class="logo" alt="logo" />
    <img src="~/MyStaticfiles/TempLogo.png" alt="dummy  Logo" />
    <input type="button"  class="btn btn-primary" value="Click Me"   />
    <h1>This is Home Page</h1>
    <p>Home page contents goes Here</p>
</body>
<script src="~/lib/jquery/jquery.js"></script>
<script >
    $(document).ready(function () {
        alert('Page Loaded');
    });
</script>
</html>
